@font-face {
  font-family: Bubblegum;
  src: url(./assets/fonts/Bubblegum.ttf);
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px whitesmoke;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.13);
}

.App > p {
  font-size: 250%;
  font-family: Bubblegum;
}

.App > p > span {
  font-size: 75%;
}
